/* Content accordion style overrides */
.ui-widget {
  font-family: inherit;
}
.accordion.ui-accordion{
  .ui-accordion-header {
    background: none;
    background-color: $wwu-blue;
    padding: 8px;
    border: 0;
    border-radius: 0;
    color: white;

    .ui-accordion-header-icon {
      background: none;
    }

    &:after {
      display: inline-block;
      content: '+';
      color: white;
      position: absolute;
      right: 16px;
    }

    &:hover,
    &:focus {
      background-color: #ddd;
      color: $wwu-blue;
    }
  }

  .ui-accordion-header-active {
    &:after {
      content: '-';
    }
  }

  .ui-accordion-content {
    padding: 16px;
    background: none;
    background-color: white;
    border: none;
    border-radius: 0;
  }
}
