.metrics {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-end;
  text-align: center;

  .metric {
    @include breakpoint(561px) {
      flex: 0 1 25%;
    }
    flex: 0 1 100%;

    .icon {
      max-width: 120px;
      margin: 8px auto;
    }
  }
}
